* {
    text-decoration: none;
}

.navbar {
    background-color: black;
    font-family: Luminari, fantasy;
    padding-left: 20px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 30px;
    color: white !important; /* Updated color to white with !important */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
    
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
}

button {
    background-color: rgb(155, 12, 232);
    margin-left: 10px;
    border-radius: 40px;
    padding: 10px;
    width: 90px; /* Corrected width value */
}

button a {
    color: white;
    font-weight: bold;
}
