.main {
  margin: 0;
  font-family: "prompt", sans-serif;
  color: yellow;
  /* background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%); */
  height: 350px;
  border-radius: 30px;
  text-align: center;
}

.container {
  height: 400px;
  /* background-image:url(https://www.shutterstock.com/image-illustration/colourful-bubble-black-background-hd-260nw-2241037801.jpg); */
  /* background-repeat: no-repeat;  */
  /* background-size: cover; */
  display: flex;
  flex-direction: row;
  flex: 0.8;
  justify-content: space-around;
  border-radius: 30px;
  align-items: center;
  background: #acb2c7;
}
.left {
  position: relative;
  height: 300px;
  flex: 0.6;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #060c21;
  color: white;
  font-size: 100px;
  filter: brightness(90%);
  border-radius: 20px;
}
.left:hover {
  box-shadow: 0 0 40px yellow;
  border: 1px solid yellow;
  filter: brightness(120%);
  transition: 0.25s;
}

.right {
  position: relative;
  height: 300px;
  flex: 0.3;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #060c21;
  color: white;
  filter: brightness(90%);
  border-radius: 20px;
}
.right:hover {
  box-shadow: 0 0 40px yellow;
  border: 1px solid yellow;
  filter: brightness(120%);
  transition: 0.25s;
}
.leftimage {
  position: relative;
  height: 300px;
  flex: 0.3;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #060c21;
  filter: brightness(50%);
  border-radius: 20px;
}
.leftimage:hover {
  box-shadow: 0 0 40px yellow;
  border: 1px solid yellow;
  filter: brightness(80%);
  transition: 0.25s;
}

.rightimage {
  position: relative;
  height: 300px;
  flex: 0.6;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #060c21;
  filter: brightness(60%);
  border-radius: 20px;
}
.rightimage:hover {
  box-shadow: 0 0 40px yellow;
  border: 1px solid yellow;
  filter: brightness(80%);
  transition: 0.25s;
}
.center {
  margin: auto;
  width: 50%;
}
body {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
}
.card {
  height: 400px;
  width: 90%;
  align-self: center;
  vertical-align: middle;
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0.8;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center;
}
